/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --heading-title-color: #ffc2e6;
  --footer-title-color: #ffc2e6;
  --section-title-color: #353430;
  --subtitle-color: #353430;
  --text-menu-color: #353430;
  --border-color-link: #353430;
  --text-color: #353430;
  --border-color: #353430;
  --accent-color: #ff8dcb;
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --bg-title-decor: #ff8dcb;
  --box-shadow: #ff0070;
  --box-shadow-link: #ff8dcb;
  --outline-color: rgba(50, 49, 45, 0.4);

  @media (min-width: 5px) and (max-width: 767px) {
    .header__title {
      color: var(--heading-title-color);
      text-shadow: 4px 4px 0px var(--accent-color);
    }

    .footer__title {
      color: var(--heading-title-color);
      text-shadow: 2px 2px 0px var(--accent-color);
    }
  }

  .page {
    background-image: var(--bg-image);
    background-color: #fff1f7;
  }

  .decor {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --heading-title-color: #ffc2e6;
    --footer-title-color: #ffc2e6;
    --section-title-color: #353430;
    --subtitle-color: #353430;
    --text-menu-color: #353430;
    --border-color-link: #353430;
    --text-color: #353430;
    --border-color: #353430;
    --accent-color: #ff8dcb;
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --bg-title-decor: #ff8dcb;
    --box-shadow: #ff0070;
    --box-shadow-link: #ff8dcb;
    --outline-color: rgba(50, 49, 45, 0.4);
  }

  .decor {
    display: none;
  }
}

@media (width >=5px) and (width <=767px) {
  :root {
    --padding: 10px;
  }
}
