/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--bg-color, #000028);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  transition-duration: var(--transition-duration);
  font-family: var(--main-font), monospace, sans-serif;
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1.3;
  margin: 0 auto;
}

/*Хедер*/

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  margin-block-end: 3.75rem;
  min-block-size: 41.75rem;
  height: 100vh;
  padding: 1.25rem;
}

.header__theme-menu {
  justify-self: center;
}

.header__theme-menu-list {
  display: flex;
  gap: 0.625rem;
}

.header__theme-menu-button {
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 100%;
  padding: 0.187rem 0.812rem;
  border: 1px solid transparent;
  background: transparent;
  transition-duration: var(--transition-duration);
  cursor: pointer;
  text-transform: lowercase;
  color: var(--text-menu-color, #ff0070);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--outline-color, #ff0070);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.header__theme-menu-button_active {
  cursor: default;
  border-color: currentColor;
  pointer-events: none;
}

.header__title {
  font-size: var(--heading-title-font-size);
  font-weight: 700;
  line-height: 82.5%;
  align-self: center;
  margin-left: -2%;
  color: var(--heading-title-color, #db00ff);
  text-shadow: 4px 4px 0px var(--box-shadow, #ff0070);
}

.header__text-container {
  max-width: 47.94921875vw;
  max-height: min-content;
  justify-self: flex-end;
  align-self: center;
}

.header__text {
  width: clamp(22.75rem, -1.0625rem + 49.6094vw, 30.6875rem);
  font-weight: 700;
  font-size: var(--font-size);
  line-height: 1.3;
}

/*decor*/

.decor {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
}

.decor::before {
  position: absolute;
  top: 0.1875rem;
  right: 1.75rem;
  content: "REc";
  text-transform: uppercase;
  text-align: center;
  color: var(--accent-color, #ff0070);
  font-weight: 400;
  line-height: 1.125rem;
  font-style: normal;
  font-size: var(--font-size);
  font-family: var(--main-font), monospace, sans-serif;
}

.decor::after {
  position: absolute;
  top: 0.5rem;
  right: 0.5625rem;
  content: "";
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--box-shadow, #ff0070);
  background-color: var(--accent-color, #ff0070);
  min-height: 0.5625rem;
  min-width: 0.5625rem;
}

.decorated-zone::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  border-inline-end: 1px solid var(--border-color, #ff0070);
  border-block-start: 1px solid var(--border-color, #ff0070);
  min-width: 1.5625rem;
  margin-top: 1.25rem;
  margin-right: 1.25rem;
  aspect-ratio: 1;
}

.decorated-zone::before {
  position: absolute;
  bottom: 0;
  content: "";
  border-inline-start: 1px solid var(--border-color, #ff0070);
  border-block-end: 1px solid var(--border-color, #ff0070);
  margin-bottom: 1.25rem;
  margin-left: 1.25rem;
  min-width: 1.5625rem;
  aspect-ratio: 1;
}

/*Майн*/
.main {
  display: flex;
  padding: 0 1.25rem;
  flex-direction: column;
}
/*1 секция фокус*/

.content__section {
  display: grid;
  gap: 1.25rem;
}

.title-decor {
  background-color: var(--accent-color, #ff0070);
  color: var(--subtitle-color, #000028);
}

.focus {
  grid-template-columns: repeat(auto-fit, minmax(19.66rem, 1fr));
  grid-template-rows: 1fr;
  margin-bottom: 5rem;
  flex-shrink: unset;
  flex-grow: 1;
}

.content__section-focus-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.25rem;
  grid-row: 1/2;
  grid-column: 2/4;
}

.content__subtitle {
  font-family: var(--main-font);
  font-size: var(--font-size);
  font-weight: 700;
  line-height: 1.3;
  color: var(--subtitle-color, #000028);
}

.content__article-text {
  line-height: 1.3;
  font-weight: 400;
  font-size: var(--font-size);
  color: var(--text-color, #f1b2ce);
  font-family: var(--main-font), monospace, sans-serif;
}

.content__article-link {
  color: var(--text-color, #f1b2ce);
  text-decoration: none;
  text-shadow: 2px 1px 0px var(--box-shadow-link, #ff0070);
}

.content__article-link:hover {
  border-bottom: 2px solid currentColor;
}

.content__article-link:focus {
  outline: none;
}

.content__article-link:focus-visible {
  outline: 1px solid currentColor;
  border-bottom: none;
}

/*2 секция концентрация*/

.concentrate {
  grid-template-columns: repeat(auto-fit, minmax(19.66rem, 1fr));
  grid-template-rows: 1fr;
  margin-bottom: 5rem;
}

.content__section-title {
  font-weight: 700;
  font-size: var(--font-size);
  line-height: 1.29;
  color: var(--section-title-color, #ff0070);
  grid-column: 1/2;
  grid-row: 1/2;
}

.content__section-concentrate-list {
  display: grid;
  width: fit-content;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(19.66rem, 1fr));
  gap: 1.25rem;
  grid-column: 1/4;
  grid-row: 2/3;
}

/* 3 секция 5 способов */
.recommendations {
  grid-template-columns: repeat(auto-fit, minmax(19.66rem, 1fr));
  grid-template-rows: 1fr;
  margin-bottom: 5rem;
}

.content__section-recommendations-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  grid-column: 2/4;
  grid-row: 1/2;
}
.article__list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.content__article {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.content__article-subtitle {
  color: var(--subtitle-color, #000028);
  background-color: var(--accent-color, #ff0070);
  font-family: var(--main-font), monospace, sans-serif;
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 1.3;
}

/* 4 секция галлерея*/
.gallery {
  display: grid;
}

.content__article-title {
  width: 100%;
  justify-self: center;
  font-weight: 700;
  font-size: var(--font-size);
  line-height: 1.29;
  color: var(--subtitle-color, #000028);
}

/* галлерея рабочая почти всё в допуске*/
.gallery__item {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(19.66rem, min-content));
  grid-template-rows: repeat(auto-fit, minmax(16.25rem, max-content));
  gap: 1.25rem;
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
  object-fit: cover;
}

.gallery__image:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.gallery__image:nth-child(2) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.gallery__image:nth-child(3) {
  grid-column: 1 / 2;
  grid-row: 2 / 6;
}

.gallery__image:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.gallery__image:nth-child(5) {
  grid-column: 2/4;
  grid-row: 3/6;
}

/*Футер*/

.footer {
  display: grid;
  position: relative;
  grid-template-columns: max-content;
  grid-template-rows: 1fr;
  min-height: 40.4375rem;
  height: 100vh;
  margin-block-start: 3.75rem;
  justify-content: center;
  align-items: center;
  padding: 0 1.25rem;
}

.footer__title {
  align-self: center;
  font-weight: 700;
  color: var(--footer-title-color, #db00ff);
  text-shadow: 2px 2px 0px var(--box-shadow, #ff0070);
  font-family: var(--main-font), monospace, sans-serif;
  font-size: var(--footer-title-font-size);
  line-height: 82.5%;
}

@media (width >= 768px) and (width <= 1023px) {
  .header__theme-menu {
    justify-self: end;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    margin-block-start: 9.5em;
    gap: 0.6em;
  }

  .header__title {
    margin-left: -3%;
  }

  .content__section {
    align-content: center;
    justify-content: center;
  }

  .focus {
    grid-template-columns: repeat(auto-fit, 14.75rem);
  }

  .concentrate {
    grid-template-columns: repeat(auto-fit, 14.75rem);
  }

  .content__section-concentrate-list {
    display: flex;
    flex-direction: column;
  }

  .recommendations {
    grid-template-columns: repeat(auto-fit, 14.75rem);
  }

  .gallery__item {
    grid-template-columns: repeat(auto-fit, minmax(14.375rem, min-content));
    grid-template-rows: repeat(auto-fit, minmax(12rem, max-content));
  }
}

@media (width >=5px) and (width <=767px) {
  .page {
    padding: 0.625rem;
  }

  .header {
    margin-block-end: 1.875rem;
    padding: 0;
  }

  .header__theme-menu-list {
    gap: 0.625rem;
    flex-direction: column;
    align-items: flex-end;
  }

  .header__theme-menu {
    justify-self: end;
    padding:
      0,
      625rem 0;
    margin-block-start: 4.0625rem;
  }

  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-left: 0;
    margin-bottom: 0.9375rem;
    line-height: 82.5%;
    text-shadow: 4px 4px 0px var(--accent-color);
  }

  .header__text-container {
    justify-self: start;
    align-self: center;
    min-width: 100%;
    margin-block-end: 2.4375rem;
  }

  .header__text {
    max-width: 22.1875rem;
  }

  .decor::before {
    top: -1.0625rem;
    right: 0.375rem;
  }

  .decor::after {
    top: -0.6875rem;
    right: -0.6875rem;
  }

  .decorated-zone::after {
    align-self: flex-start;
    justify-self: end;
    margin-top: 0rem;
    margin-right: 0rem;
  }

  .decorated-zone::before {
    left: -1.25rem;
    justify-self: start;
    align-self: flex-end;
  }

  .main {
    padding: 0;
    margin-block-end: 3rem;
  }

  .focus {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    margin-block-end: 3.15rem;
  }

  .concentrate {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    margin-block-end: 3.17rem;
  }

  .content__section-concentrate-list {
    display: flex;
    flex-direction: column;
  }

  .recommendations {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    margin-block-end: 3.1rem;
  }

  .gallery {
    gap: 0.65rem;
  }

  .gallery__item {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-block-start: 0;
  }

  .footer__title {
    flex-grow: 0.03;
    flex-shrink: unset;
    margin-block-end: 0;
  }
}
